.hori-progress-bar-top-left-to-right {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #093;
    transition:width .1s;
    transition-timing-function: ease-out;
    -webkit-transition:width .1s;
    -webkit-transition-timing-function: ease-out;
    z-index: 1000;
}

#vert-progress-bar-right-top-to-bottom {
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background-color: #F93;
    transition:height .1s;
    transition-timing-function: ease-out;
    -webkit-transition:height .1s;
    -webkit-transition-timing-function: ease-out;
    z-index: 1000;
}

.hori-progress-bar-bottom-right-to-left {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 5px;
    background-color: #C55;
    transition:width .1s;
    transition-timing-function: ease-out;
    -webkit-transition:width .1s;
    -webkit-transition-timing-function: ease-out;
    z-index: 1000;
}

#vert-progress-bar-left-bottom-to-top {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 0;
    background-color: #0CF;
    transition:height .1s;
    transition-timing-function: ease-out;
    -webkit-transition:height .1s;
    -webkit-transition-timing-function: ease-out;
    z-index: 1000;
}

/*
body.single-post @media (max-width:769px){
    body.progress-bar{
        top:50px;
        height:20px
    }
}
*/